## Problem 3 - Data analysis (*4 points*)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic Pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Helsinki Kumpula and Rovaniemi for the summer of 2017
- Selecting temperatures for May and June 2017 in separate dataframes for each location
- Printing out some summary values for each month (May, June) and location (Kumpula, Rovaniemi)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (*0 points*)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `kumpula` and `rovaniemi`

In [3]:
import pandas as pd
kumpula = pd.read_csv("Kumpula_temps_May_Aug_2017.csv")
rovaniemi = pd.read_csv("Rovaniemi_temps_May_Aug_2017.csv")
kumpula.head()

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN        3
1        8771  29980  201705010100  37.0  NaN  NaN        3
2        8772  29980  201705010200  37.0  NaN  NaN        3
3        8773  29980  201705010300  37.0  NaN  NaN        3
4        8774  29980  201705010400  39.0  NaN  NaN        4

In [4]:
kumpula.tail()

      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2919       11689  29980  201708311900  64.0  NaN  NaN       18
2920       11690  29980  201708312000  64.0  NaN  NaN       18
2921       11691  29980  201708312100  64.0  NaN  NaN       18
2922       11692  29980  201708312200  64.0  NaN  NaN       18
2923       11693  29980  201708312300  64.0  NaN  NaN       18

In [5]:
rovaniemi.head()

   Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0           0  28450  201705010000  31.0  NaN  NaN       -1
1           1  28450  201705010020  30.0  NaN  NaN       -1
2           2  28450  201705010050  30.0  NaN  NaN       -1
3           3  28450  201705010100  31.0  NaN  NaN       -1
4           4  28450  201705010120  30.0  NaN  NaN       -1

In [8]:
rovaniemi.tail()

      Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
8762        8765  28450  201708312220  46.0  NaN  NaN        8
8763        8766  28450  201708312250  46.0  NaN  NaN        8
8764        8767  28450  201708312300  48.0  NaN  NaN        9
8765        8768  28450  201708312320  46.0  NaN  NaN        8
8766        8769  28450  201708312350  48.0  NaN  NaN        9

### Part 2 (*1 point*)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Helsinki Kumpula? (store the answer in a variable `kumpula_median`)
    - Rovaniemi? (store the answer in a variable `rovaniemi_median`)

In [9]:
kumpula_median = kumpula["Celsius"].median()
rovaniemi_median =rovaniemi["Celsius"].median()

In [10]:
# Prints the median temperatures
print("Kumpula median: ", kumpula_median)
print("Rovaniemi median: ", rovaniemi_median)

Kumpula median:  14.0
Rovaniemi median:  11.0

### Part 3 (*2 points*)

The median temperatures above consider data from the entire summer (May-Aug), hence the differences might not be so clear. Let's now find out the mean temperatures from May and June 2017 in Kumpula and Rovaniemi.

- From the `kumpula` and `rovaniemi` DataFrames, select the rows where values of the `YR--MODAHRMN` column are from May 2017
    - Assign these selected rows into the variables `kumpula_may` and `rovaniemi_may` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of June and assign those values into variables to `kumpula_june` and `rovaniemi_june`

In [12]:
# Select the subset of the Kumpula and Rovaniemi data for the 5th and 6th month
#create subset of data based on Month (between day 0 of May and day 0 of June)
kumpula_may = kumpula.loc[(kumpula["YR--MODAHRMN"]>201705000000) & (kumpula["YR--MODAHRMN"]<201706000000)]
rovaniemi_may = rovaniemi.loc[(rovaniemi["YR--MODAHRMN"]>201705000000) & (rovaniemi["YR--MODAHRMN"]<201706000000)]

#create subset of data based on Month (between day 0 of June and day 0 of July)
kumpula_june = kumpula.loc[(kumpula["YR--MODAHRMN"]>201706000000) & (kumpula["YR--MODAHRMN"]<201707000000)]
rovaniemi_june = rovaniemi.loc[(rovaniemi["YR--MODAHRMN"]>201706000000) & (rovaniemi["YR--MODAHRMN"]<201707000000)]

In [13]:
# Prints some of the selected temperature data
print("Kumpula temperatures in May\n", kumpula_may.head())
print("Rovaniemi temperatures in June\n: ", rovaniemi_june.head())

Kumpula temperatures in May
    Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0        8770  29980  201705010000  37.0  NaN  NaN        3
1        8771  29980  201705010100  37.0  NaN  NaN        3
2        8772  29980  201705010200  37.0  NaN  NaN        3
3        8773  29980  201705010300  37.0  NaN  NaN        3
4        8774  29980  201705010400  39.0  NaN  NaN        4
Rovaniemi temperatures in June
:        Unnamed: 0   USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
2220        2222  28450  201706010000  32.0  NaN  NaN        0
2221        2223  28450  201706010020  30.0  NaN  NaN       -1
2222        2224  28450  201706010050  30.0  NaN  NaN       -1
2223        2225  28450  201706010100  31.0  NaN  NaN       -1
2224        2226  28450  201706010120  30.0  NaN  NaN       -1

In [14]:
# Check that the shape of kumpula_june is correct
print(kumpula_june.shape)

(714, 7)

In [15]:
# Check that the shape of rovaniemi_may is correct
print(rovaniemi_may.shape)

(2220, 7)

In [16]:
# Check that the shape of rovaniemi_june is correct
print(rovaniemi_june.shape)

(2127, 7)

### Part 4 (*1 point*)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in May and June using the new subset dataframes (`kumpula_may`, `rovaniemi_may`, `kumpula_june`, and `rovaniemi_june`).

In [33]:
#create the variables for mean, max and min of:
#kumpula may
kumpula_may_mean=kumpula_may["Celsius"].mean()
kumpula_may_max=kumpula_may["Celsius"].max()
kumpula_may_min=kumpula_may["Celsius"].min()

#kumpula june
kumpula_june_mean=kumpula_june["Celsius"].mean()
kumpula_june_max=kumpula_june["Celsius"].max()
kumpula_june_min=kumpula_june["Celsius"].min()

#rovaniemi may
rovaniemi_may_mean=rovaniemi_may["Celsius"].mean()
rovaniemi_may_max=rovaniemi_may["Celsius"].max()
rovaniemi_may_min=rovaniemi_may["Celsius"].min()

#rovaniemi june
rovaniemi_june_mean=rovaniemi_june["Celsius"].mean()
rovaniemi_june_max=rovaniemi_june["Celsius"].max()
rovaniemi_june_min=rovaniemi_june["Celsius"].min()

#print the variables
print(f"In May the mean temperature in Kumpula was {kumpula_may_mean.round(2)}˚C and it ranged from a minimum of {kumpula_may_min}˚C to a maximum of {kumpula_may_max}˚C; \n whereas in Rovaniemi in May the mean temperature was {rovaniemi_may_mean.round(2)}˚C ranging from a minimum of {rovaniemi_may_min}˚C to a maximum of {rovaniemi_may_max}˚C.") 
print(f"In June the mean temperature in Kumpula was {kumpula_june_mean.round(2)}˚C and it ranged from a minimum of {kumpula_june_min}˚C to a maximum of {kumpula_june_max}˚C; \n whereas in Rovaniemi in June the mean temperature was {rovaniemi_june_mean.round(2)}˚C ranging from a minimum of {rovaniemi_june_min}˚C to a maximum of {rovaniemi_june_max}˚C.")

In May the mean temperature in Kumpula was 9.76˚C and it ranged from a minimum of -2˚C to a maximum of 23˚C;
 whereas in Rovaniemi in May the mean temperature was 2.99˚C ranging from a minimum of -7˚C to a maximum of 15˚C.
In June the mean temperature in Kumpula was 13.73˚C and it ranged from a minimum of 3˚C to a maximum of 24˚C;
 whereas in Rovaniemi in June the mean temperature was 11.02˚C ranging from a minimum of -1˚C to a maximum of 23˚C.

### Problem 3 summary

In the [Exercise 5 summary notebook](Exercise-5-summary.ipynb) you can find a few additional points to consider and two final questions for Problem 3. Please answer those question in [that notebook](Exercise-5-summary.ipynb).

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)